.disconneted {
  color: red !important;
}

.connected {
  color: #0191f1 !important;
}

.collapse-container {
  margin: 30rpx;
  border-radius: 8px;
  // 子元素多出来的裁剪掉
  overflow: hidden;
}

.collapse-content-class {
  font-size: 17pt;
  font-weight: 600;
  overflow: hidden;
}
