.disconneted {
  color: red !important;
}

.connected {
  color: green !important;
}

.collapse-container {
  padding-top: 15rpx;
  padding-bottom: 15rpx;
}

.collapse-content-class {
  font-size: 17pt;
  font-weight: 600;
}
