@import "../../variable.scss";

.baseItem {
  min-height: 100rpx;
}

.filter-title {
  background-color: $qp-secondary-background-color;
}

.arrow-icon {
  height: 15rpx;
  width: 25rpx;
}

.filter-list-item {
  height: 100rpx;
  border-bottom: $qp-secondary-background-color 1rpx solid;
  margin-left: 20rpx;
}


.dropdown-menu {
  background-color: white;
  box-shadow: none;
  border-radius: 30rpx;
  padding: 0 20rpx;
}

.van-dropdown-menu__item {
  justify-content: flex-start;
}

.van-popup {
  background-color: $qp-page-background-color !important;
  padding: 0 30rpx;
}

.button {
  height: 70rpx;
  border-radius: 35rpx;
  width: 200rpx;
}

.drop-item {
  width: 100%;
  background-color: white;
}

.label {
  flex: 1;
  font-size: 18px;
} 

.switch {
  margin-left: 10px;
}