.icon {
  height: 176rpx;
  width: 202rpx;
  margin: 35rpx auto;
}

.copy {
  height: 45rpx;
  width: 45rpx;
  margin-left: 10rpx;
}


.checkout-box {
  margin: auto;
}


.van-picker__cancel {
  font-size: 30rpx !important;
}

.van-picker__confirm {
  color: #2962FF !important;
  font-size: 30rpx;
}