.filter-and-scanning {}

.device-icon {
  width: 48rpx;
  height: 48rpx;
}

.ble-device-item:active {
  // opacity: 0.5;
  background-color: rgba(255, 255, 255, 0.5);
}

.scan-status-container {
  height: 50px;
  width: 50px;
  border-radius: 30rpx;
  background-color: white;
  margin-left: 30rpx;
}

.scanning-tip {
  color: gray;
  padding: 300rpx 40rpx 40rpx 40rpx;
  text-align: center;
  line-height: 70rpx;
  font-size: 30rpx;
}

.start-scan-rich-txt {
  color: #0191f1;
  opacity: 1;
  font-weight: 700;
}

.broadcastData {
  font-size: 20rpx;
  flex: 1;
  word-break: break-all;
  text-overflow: ellipsis;
  margin-right: 10rpx;
  margin-top: 20rpx;
  color: #000000;
  opacity: 0.5;
}

.connecttale {
  height: 25rpx;
  width: 25rpx;
  margin: 0 10rpx;
}

.name {
  word-break: break-all;
  text-overflow: ellipsis;
  flex: 1;
  margin-right: 10rpx;
  font-size: 28rpx;
}

.main-loading {
  height: 40rpx;
  width: 40rpx;
}

.main-stop {
  height: 24rpx;
  width: 24rpx;
}

.scan-interval {
  flex-shrink: 0;
  min-width: 50rpx;
  color: #000000;
  opacity: 0.5;
  font-size: 25rpx;
}


.connect-loading {
  margin: 50rpx auto;
  width: 100%;
}