@import "./variable.scss";

@import "./wxbootstrap.wxss";

page {
  // background: linear-gradient(to bottom, #d2e1ff 0%, #e6fbfe 100%);
  background-color: #d2e1ff;
  padding-bottom: 30rpx;
  --nav-bar-title-font-size: 30;
}

.container {
  background-color: $qp-background-color;
  border-radius: $qp-radius;
  padding: 20rpx;
  margin: 30rpx 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  align-items: center;
  justify-content: center;
}

.space-between {
  align-items: center;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.primary-text {
  color: $qp-primary-text-color;
  font-size: 30rpx;
}

.secondary-text {
  color: $qp-secondary-text-color;
  font-size: 30rpx;
}

/* flex布局-start */
.d-flex {
  display: flex;
}

.flex-top-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-top-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.flex-top-center {
  display: flex;
  justify-content: center;
  align-items: start;
}

.flex-center-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-center-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-bottom-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-bottom-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-bottom-center {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.flex-fill {
  flex: 1 1 auto !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  flex-shrink: 1 !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-star {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

/* flex布局-end */

/* 定位-start */
.position-static {
  position: static !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: sticky !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

/* 定位-end */

@keyframes loading-frames {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading {
  animation: loading-frames 1s linear infinite;
}

.x-icon {
  height: 34rpx;
  width: 34rpx;
}

.fliter-line {
  border-bottom: 1rpx solid #e5e5e5;
}

.vant-nav-bar-title {
  color: black;
  font-weight: bold;
  font-size: 17px;
}

.van-nav-bar__title {
  height: 100%;
}

.nav-bar-custom-title {
  height: 100%;
  width: 60%;
  margin: auto;
}

button[type="primary"] {
  background-color: #0191f1 !important;
  color: #fff;
}

.black {
  color: black;
}

.gray {
  color: gray;
}

.bold {
  // 加粗
  font-weight: 600;
}

.rssi-icon {
  width: 60rpx;
  height: 40rpx;
}

.rssi-txt {
  font-size: 28rpx;
  font-weight: 400;
  color: #000000;
  margin-top: 10rpx;
}

.rssi-container {
  background-color: #f6f6f6;
  border-radius: 20rpx;
  min-width: 122rpx;
  min-height: 122rpx;
  padding: 20rpx;
}