// 定义全局变量

// page 背景色

$qp-page-background-color: #f3f3f3;

$qp-secondary-background-color: #e7e7e7;

$qp-primary-text-color: #424242;

$qp-secondary-text-color: #797979;

// 圆角
$qp-radius: 13rpx;

// 背景色
$qp-background-color: #ffffff;