// 定义全局变量

// page 背景色

$qp-page-background-color: #d2e1ff;

$qp-primary-color: #0191f1;

$qp-secondary-background-color: #e7e7e7;

$qp-primary-text-color: #424242;

$qp-secondary-text-color: #797979;

// 圆角
$qp-radius: 30rpx;

// 背景色
$qp-background-color: #ffffff;
