@import "../../variable.scss";

.nav-bar {
  z-index: 20;
}

.disconnected {
  color: red !important;
  opacity: 0.5 !important;
}

.connected {
  color: #0191F1 !important;
}

.property-icon {
  width: 36rpx;
  height: 36rpx;
  margin-right: 10px;
}

.operate-btn {
  color: #00ac2c;
}

.characteristic-value {
  font-weight: 700;
  word-break: break-all;
}

